*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{

    text-align: center;
    background-color: rgba(0, 0, 0, 0.795);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: rgb(37, 37, 37);
}

.card{
    display: flex;
    justify-content: center;
    height: 300px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding:50px;
    background-color: rgb(165, 235, 194);
    border-radius: 20px;
    
}

